body{
    margin: 0;
    padding: 0;
    background-color: #F3F1FF;
}

/* Header start  */

.group-img{
    width: 40px;
}

.idea{
    color: #fff;
}

.ellipse{
    width: 50px;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: white;
    font-weight: bold;
}

nav.navbar.navbar-expand-lg.navbar-light {
    padding: 5px 100px;
}

/* Header End  */

/* Top player and blog start  */

#top-player{
    padding: 2% 17%;
    bottom: 1px solid gray;
}

.top-player{
    padding: 2%;
}

.top-player h3{
    color: #562EFF;
}


.top-player-image{
    width: 100px;
}

/* Blog start  */

.top-blog-image{
    width: 200px;
}

/* Top player and blog end  */

/* Latest course start  */

section#latest{
    padding: 2% 17%;
    bottom: 1px solid gray;
}

.latest-header{
    margin-bottom: 50px;
}

.card.card-shadow {
    box-shadow: 10px 10px 20px gray;
    border-radius: 25px;
    border: none;
    padding: 5%;
}

.img-thumbnail{
    border: none;
}



/* Latest course end  */