body{
    margin: 0;
    padding: 0;
}

/* Header start  */

.group-img{
    width: 40px;
}

.idea{
    color: #fff;
}

.ellipse{
    width: 50px;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: white;
    font-weight: bold;
}

nav.navbar.navbar-expand-lg.navbar-light {
    padding: 5px 100px;
}

/* Header End  */